<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/favicon.ico">

        <title>{% block title %}跟我一起学Hack{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/css/site.css" rel="stylesheet">
        <link href="/css/navbar-fixed-top.css" rel="stylesheet">


    </head>

    <body>

        <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Hack语言教程</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li{% if active==1 %} class="active"{%endif%}><a href="/">首页</a></li>
                        <li{% if active==2 %} class="active"{%endif%}><a href="#about">关于</a></li>
                        <li{% if active==3 %} class="active"{%endif%}><a href="#contact">联系</a></li>
                        <li{% if active==4 %} class="active"{%endif%} class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">示例 <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>

                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container">
            {% block content %}
                <!-- Main component for a primary marketing message or call to action -->
                <div class="jumbotron">
                    <h2>跟我一起学Hack语言</h2>
                    <p>本站点是我着手编写的《<a href="https://www.gitbook.com/book/taylorr/learn-hack-together/details">跟我一起学Hack语言</a>》一书的配套站点。</p>
                    <p>本站点基于<a href="http://nginx.org/">Nginx</a>+<a href="http://hhvm.com/">HHVM</a>搭建。PHP框架为<a href="http://silex.sensiolabs.org/">Silex</a>。</p>
                    <p>
                        <a class="btn btn-lg btn-success" href="/lib" role="button">Code Library &raquo;</a>
                    </p>
                </div>
            {% endblock %}
        </div> <!-- /container -->


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>

